.profile-container {
  padding: 30px 50px;
  background-color: #c1956c; /* coffee background */
  height: 100vh;
  color: #3c1e0e;
  font-family: 'Poppins', sans-serif;
}

.settings-title {
  font-size: 28px;
  font-weight: 800;
  color: #3c1e0e;
}

.settings-subtitle {
  font-size: 13px;
  color: #3c1e0e;
  margin-bottom: 15px;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  background-color: #eed8c5;
  border: none;
  border-radius: 20px;
  padding: 7px 20px;
  font-weight: 600;
  color: #3c1e0e;
  cursor: pointer;
  transition: 0.3s ease;
}

.tab.active {
  background-color: #3c1e0e;
  color: #eed8c5;
}

.tab:hover {
  background-color: #b68b60;
  color: #fff;
}

.profile-card {
  display: flex;
  background-color: #3c1e0e;
  border-radius: 15px;
  padding: 25px;
  color: #eed8c5;
}

.profile-left {
  flex: 1;
  text-align: center;
  border-right: 1px solid #b68b60;
  padding-right: 20px;
}

.profile-picture img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #b68b60;
}

.username {
  margin-top: 10px;
  color: #eed8c5;
  font-size: 14px;
}

.profile-right {
  flex: 2;
  padding-left: 30px;
}

.profile-right label {
  display: block;
  font-weight: 600;
  color: #eed8c5;
  margin-top: 15px;
}

.profile-right input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background-color: #eed8c5;
  color: #3c1e0e;
  font-weight: 500;
  outline: none;
}

.password-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.change-btn {
  background-color: #eed8c5;
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  color: #3c1e0e;
  font-weight: 600;
  transition: 0.3s ease;
}

.change-btn:hover {
  background-color: #b68b60;
  color: white;
}

.save-btn {
  margin-top: 20px;
  background-color: #eed8c5;
  color: #3c1e0e;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
}

.save-btn:hover {
  background-color: #b68b60;
  color: white;
}
